*{
    margin:0;
    padding:0;
}
nav{
    background-color: black;
    color: white;
    padding: 20px;
    

}
li,h1,ul{
    display: inline;
    
}
ul{
    margin-left: 60%;
}
li{
    color:grey;
    cursor: pointer;
}
li:hover{
    color:white;
}
input{
    width: 60%;
    padding:15px;
}
.searchbar{
    padding: 45px;
    text-align: center;
    border-color: black;
    border width: 3px;
}
.box{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 300px;
    height: 230px;
    margin: 20px;
}
.box:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.products{
    text-align: center;
}
.about{
    text-align: center;
    margin-top: 25px;
    
}
.contact{
    background-color: black;
    color:white;
    text-align: center;
    margin-top: 25px;
    padding: 45px;
}
